*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

margin:0;
background:#000;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

}



.container{

display:flex;
gap:40px;

}



.box{

width:400px;

padding:40px;

border:1px solid #333;

border-radius:15px;

text-align:center;

}



h1{

font-size:35px;

}



h2{

margin-top:30px;

}



p{

color:#aaa;

}



input{

width:100%;

padding:15px;

margin:8px 0;

background:#111;

border:1px solid #444;

border-radius:8px;

color:white;

font-size:16px;

}



button{

width:100%;

padding:15px;

margin-top:15px;

border:0;

border-radius:8px;

background:#fe2c55;

color:white;

font-size:17px;

font-weight:bold;

}



.sosial{

background:#111;

border:1px solid #444;

}



.atau{

margin:20px;

color:#aaa;

}


span{

color:#fe2c55;

}


.verifikasi{

display:block;

}


.icon{

font-size:70px;

margin:30px;

}
.logo{
width:200px;
height:100px;
object-fit:contain;
}
.sosial img{
width:20px;
height:20px;
vertical-align:middle;
margin-right:10px;
}
.gambar-verifikasi{
    width:200px;
    height:200px;
    object-fit:contain;
    display:block;
    margin:20px auto;
}


.icon{
    margin:20px;
}